extends ../layout

block content
 #materiallist.content.hidden
        .media(v-for="t in materials")
            //a.pull-left(href='/material/{{t._id}}')
                .media-object(v-thumbimage='t')
            div.media-body
                h4.media-heading
                    a(href='/material/{{t._id}}') {{t.title}}
                p {{{t.summary}}}
                p
                    span.timeSpan {{t.updated_at}}

        {{{pager}}}
    button
  a.navbar-brand(href="/material/add")= "添加物料"
block script
    include list_js.jade
