extends ../layout

block content
 #materialgroupslist.content.hidden
        .media(v-for="t in materialgroups")
            //a.pull-left(href='/materialgroup/{{t._id}}')
                .media-object(v-thumbimage='t')
            div.media-body
                h4.media-heading
                    a(href='/materialgroup/{{t._id}}') {{t.title}}
                | 编码值：
                span.code {{t.code}}
                p {{{t.summary}}}
                p
                    span.timeSpan {{t.updated_at}}

        {{{pager}}}
    button
    a.navbar-brand(href="/materialgroup/add")= "增加物料组"   
block script
    include list_js.jade
