extends ../layout

block content
  #material.content.hidden
        | 中文物料名称：
        h1.title {{title}}
        br
        | 创建于：
        span.timeSpan {{updated_at}}
        | &nbsp;&nbsp;&nbsp;&nbsp;最后修改：
        span.timeSpan {{updated_at}}
        br
        | 描述：
        span.des {{des}}
        | &nbsp;&nbsp;&nbsp;&nbsp;创建者：
        span.created_author {{created_author.username}}
        | &nbsp;&nbsp;&nbsp;&nbsp;最后编辑者：
        span.created_author {{updated_author.username}}
        | &nbsp;&nbsp;&nbsp;&nbsp;
        a.btn.btn-info.btn-xs(href='/material/edit/#{id}') 编辑
        br
        | 图号：
        span.imgnum {{imgnum}}
        | &nbsp;&nbsp;&nbsp;&nbsp;供应商:
        span.gongyingshang {{gongyingshang}}
        | &nbsp;&nbsp;&nbsp;&nbsp;版本:
        span.version {{version}}
        br
        | 旧物料名称：
        span.oldtitle {{oldtitle}}
        | &nbsp;&nbsp;&nbsp;&nbsp;英文标题:
        span.engtitle {{engtitle}}
        br
        | 备注：
        //a(href='{{content}}') {{content}}
        p {{{content}}}
        hr
block script
    include material_js.jade